# Install progress bar
tqdm

# Install pytest
pytest

# Install sympy for symbolic expressions
sympy

# Install matplotlib for plotting of scripts
matplotlib

# Install black
black

# Install sphinx for docs
sphinx
sphinx_rtd_theme

# Install numpy
numpy

# Install PySCF
pyscf

# Install the Gauss-integrator
git+https://github.com/HyQD/gauss-integrator.git
