# Install progress bar
tqdm

# Install numpy
numpy

# Install scipy
scipy

# Install pandas
pandas

# Install pytest
pytest

# Install numba
numba

# Install quantum-systems
git+https://github.com/Schoyen/quantum-systems.git

# Install tdhf
# This is currently not supported as tdhf is a private repo
git+ssh://git@github.com/haakoek/tdhf.git

# Install sympy for symbolic expressions
sympy

# Install matplotlib for plotting of scripts
matplotlib

# Install black
black
