# Install progress bar
tqdm

# Install pytest
pytest

# Install sympy for symbolic expressions
sympy

# Install matplotlib for plotting of scripts
matplotlib

# Install black
black

# Install sphinx for docs
sphinx
sphinx_rtd_theme

# Install numpy
numpy

# Install PySCF
pyscf

# Stupid hack to fix h5py-pyscf issues
# Remove this annoying line when PySCF gets updated on pypi
h5py<=3.2.0

# Install the Gauss-integrator
git+ssh://git@github.com/Schoyen/gauss-integrator.git
